node_modules
dist
.DS_Store
server/public
vite.config.ts.*
*.tar.gz
# Ignore Visual Studio folder
.vs/
node_modules/
# Ignore server object files

PRN232.Server/bin/
/BusinessObject/obj
/DAL/obj
/Repository/obj
/Service/obj
/PRN232/obj
/PRN232/bin
/BusinessObject/bin
/DAL/bin
/Repository/bin
/Service/bin
DAL/Migrations/20250620050600_FixApplication.cs
/PRN232/BusinessObject/obj
/PRN232/BusinessObject/bin
/PRN232/DAL/bin
/PRN232/DAL/obj
/PRN232/BusinessObject/bin
/PRN232/DAL/obj
/PRN232/BusinessObject/obj
/PRN232/Service/obj
/PRN232/Repository/obj
/PRN232/PRN232/obj
/PRN232/DAL/obj
/PRN232/Service/obj
/PRN232/BusinessObject/obj
/PRN232/PRN232/bin
/PRN232/Service/bin
/PRN232/DAL/obj
/PRN232/Repository/bin
/PRN232/BusinessObject/obj
/PRN232/BusinessObject/obj
